.newTaskForm {
  width: 100%;
  max-width: 100%;
  padding: 0 8px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: -27px;
}

.taskInput {
  width: 100%;
  max-width: 638px;
  background-color: var(--gray-500);
  color: var(--gray-100);
  font-size: 16px;
  padding: 16px;
  border: inset 1px solid var(--gray-700);
  border-radius: 8px;
}

.taskInput::placeholder {
  user-select: none;
}

.taskInput:focus {
  outline: 1px solid var(--purple-dark);
}

.addNewTaskBtn {
  color: var(--gray-100);
  font: 700 14px var(--primary-font);
  background-color: var(--blue-dark);
  padding: 16px;
  border: 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s ease-out;
  user-select: none;
}

.addNewTaskBtn:hover {
  background-color: var(--blue);
}

.addNewTaskBtn:active {
  background-color: var(--blue-dark);
}

.addNewTaskBtn:focus {
  outline: 1px solid var(--gray-100);
}
