.task {
  background-color: var(--gray-500);
  color: var(--gray-100);
  padding: 24px 52px;
  border-radius: 8px;
  display: flex;
  position: relative;
  opacity: 0;
  transition-property: filter;
  transition-duration: 0.5s;
  animation: addingTask 0.3s forwards ease-in-out;
}

.taskText {
  width: 100%;
  cursor: pointer;
}

.checkboxDiv {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.checkboxDiv > input {
  display: none;
}

.check {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkboxDiv > input + .check::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 100%;
  display: inline-block;
}

.checkboxDiv > input + .check:hover::before {
  background-color: rgba(var(--blue-dark-rgb), 0.2);
  border: 2px solid var(--blue-dark);
}

.checkboxDiv > input:checked + .check::before {
  background: var(--purple-dark) url("../../assets/img/checked.svg") no-repeat
    center center;
  border: 2px solid var(--purple-dark);
}

.checkboxDiv > input:checked + .check:hover::before {
  background-color: var(--purple);
  border: 2px solid var(--purple);
}

.trash {
  background: url("../../assets/img/trash.svg") no-repeat center center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: calc(16px + 32px);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.trash:hover {
  background-color: var(--gray-400);
  background-image: url("../../assets/img/trash_hover.svg");
}

.orderButtons {
  display: grid;
  gap: 8px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.upButton,
.downButton {
  color: var(--gray-300);
}

.upButton:hover,
.downButton:hover {
  color: var(--gray-100);
}

.dateDisplay {
  background-color: var(--gray-500);
  padding: 2px;
  color: var(--gray-300);
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.5px;
  position: absolute;
  right: 50%;
  top: -5px;
  transform: translateX(50%);
}

.dateDisplay::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--gray-500);
  display: inline-block;
  position: absolute;
  left: -4px;
  top: 1.5px;
  transform: rotate(45deg);
  z-index: -1;
}

.dateDisplay::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--gray-500);
  display: inline-block;
  position: absolute;
  right: -4px;
  top: 1.5px;
  transform: rotate(-45deg);
  z-index: -1;
}

@keyframes addingTask {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
