.tasksContainer {
  width: 100%;
  max-width: calc(736px + 16px);
  margin: auto;
  padding: calc(64px + 27px) 8px 64px 8px;
  position: relative;
}

.tasksHeader {
  display: flex;
  justify-content: space-between;
  font: 700 14px/1.2 var(--primary-font);
  margin-bottom: 24px;
}

.createdTasksInfo {
  color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.doneTasksInfo {
  color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.counter {
  color: var(--gray-200);
  background-color: var(--gray-400);
  font: 700 12px/1.2 var(--primary-font);
  padding: 2px 8px;
  border-radius: 999px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.empty {
  font: normal 16px/1.4 var(--primary-font);
  color: var(--gray-300);
  padding: 64px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
}
