.tasksContainer {
  width: 100%;
  max-width: calc(736px + 16px);
  margin: auto;
  padding: calc(64px + 27px) 8px 0 8px;
  position: relative;
}

.tasksHeader {
  display: flex;
  justify-content: space-between;
  font: 700 14px/1.2 var(--primary-font);
  margin-bottom: 24px;
}

.createdTasksInfo {
  color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.doneTasksInfo {
  color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.counter {
  color: var(--gray-200);
  background-color: var(--gray-400);
  font: 700 12px/1.2 var(--primary-font);
  padding: 2px 8px;
  border-radius: 999px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task {
  background-color: var(--gray-500);
  color: var(--gray-100);
  padding: 16px 52px;
  border-radius: 8px;
  display: flex;
  position: relative;
}

.taskText {
  width: 100%;
  cursor: pointer;
}

.checkboxDiv {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: absolute;
  left: 16px;
}

.checkboxDiv > input {
  display: none;
}

.check {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkboxDiv > input + .check::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 100%;
  display: inline-block;
}

.checkboxDiv > input + .check:hover::before {
  background-color: rgba(var(--blue-dark-rgb), 0.2);
  border: 2px solid var(--blue-dark);
}

.checkboxDiv > input:checked + .check::before {
  background: var(--purple-dark) url("../../assets/img/checked.svg") no-repeat
    center center;
  border: 2px solid var(--purple-dark);
}

.checkboxDiv > input:checked + .check:hover::before {
  background-color: var(--purple);
  border: 2px solid var(--purple);
}

.trash {
  background: url("../../assets/img/trash.svg") no-repeat center center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  cursor: pointer;
}

.trash:hover {
  background-color: var(--gray-400);
  background-image: url("../../assets/img/trash_hover.svg");
}

/* .trashImg {
  pointer-events: none;
} */

.empty {
  font: normal 16px/1.4 var(--primary-font);
  color: var(--gray-300);
  padding: 64px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
}
