.warningModal {
  color: var(--gray-700);
  text-shadow: 1px 1px 0 #f2f2f233;
  background-color: var(--danger);
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 0 2px var(--gray-100);
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  animation: downAnimation 0.3s forwards, shake 0.1s 0.2s forwards;
}

.closeModal {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 0;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  right: 2px;
}

.closeModal:hover {
  background-color: #e22e2e;
  border-radius: 2px;
  opacity: 1;
}

@keyframes downAnimation {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 32px;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(-50%) rotate(-5deg);
  }
  50% {
    transform: translateX(-50%) rotate(5deg);
  }
  100% {
    transform: translateX(-50%) rotate(0);
  }
}
