.header {
  background-color: var(--gray-700);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.logo span.to {
  color: var(--blue);
  font: 700 40px/1.2 var(--primary-font);
}

.logo span.do {
  color: var(--purple-dark);
  font: 700 40px/1.2 var(--primary-font);
}
